.pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;

    margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
    .pageHeader {
        justify-content: center;
        gap: 10px;
    }
}

.headerTitle {
    position: relative;
    display: flex;
    align-items: center;
}

.titleText {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #434657;
}

.avatarBtn {
    position: relative;
    border: none;
    padding: 0;
    bottom: 5px;
    margin-right: 10px;
}

.avatarBtn svg {
    width: 30px;
    height: 30px;
}

.userInfo {
    position: absolute;
    padding: 10px 20px;
    left: 0;
    top: 30px;
    
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 12px 8px rgba(203, 203, 203, 0.25);

    z-index: 10;
}

.userInfoText {
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;

    margin-bottom: 7px;
}

.logoutBtn {
    border-radius: 10px;
    border: none;
    background-color: #ff6574;
    color: white;
}

.headerButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .headerButtons {
        justify-content: center;
        row-gap: 10px;
    }
}

.viewBtnLeft {
    display: flex;
    align-items: center;
    gap: 5px;

    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 12px;

    height: 40px;
}

.viewBtnRight {
    display: flex;
    align-items: center;
    gap: 5px;

    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 12px;

    height: 40px;
}

.view {
    padding: 10px 12px;
    display: flex;
}
.filter {
    border-radius: 8px;
    padding: 10px 12px;
    height: 40px;

    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #bcbfd6;
    display: flex;
    align-items: center;
    gap: 5px;
}

.active {
    background-color: #ff6574;
    color: white;
}

.addTaskBtn {
    border-radius: 99px;
    padding: 0px 16px;
    height: 40px;
    background: #2d2acd;

    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;

    transition: all 0.1s ease-in;
}

.addTaskBtn:hover {
    background: #2926b9;
    color: #d5d4f5;
}

.addTaskBtn span {
    position: relative;
    font-size: 30px;
    font-weight: 200;
    margin-right: 7px;
    top: -3px;
}
