.addTaskContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 24px;
    padding: 20px;

    z-index: 11;
    
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: #00000050;
    z-index: 10;
}

.containerTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;

    margin-bottom: 15px;
}

.formSection {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 22px;
}

.formLabel {
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;

    display: flex;
    align-items: center;
    gap: 10px;
}

.textfield,
.textarea {
    border-radius: 10px;
    padding: 7px;
    border: 1px #0f5699 solid;
}

.errorMessage {
    position: absolute;
    bottom: -17px;

    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #da4343;
}

.buttons {
    display: flex;
    gap: 10px;
}

.addTaskBtn {
    position: relative;

    border-radius: 99px;
    padding: 0px 32px;
    height: 40px;
    background: #2d2acd;
    border: none;

    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
}

.cancel {
    position: relative;

    border-radius: 99px;
    padding: 0px 32px;
    height: 40px;
    background: #c43c3c;
    border: none;

    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
}

.cancel:hover {
    color: white;
}
