.taskItem {
    padding: 12px 22px;
    display: flex;

    height: 64px;

    align-items: center;
    margin-bottom: 8px;

    transition: all 0.1s ease-in;

    cursor: pointer;
}
.taskItemBoard {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px#bcbfd6 solid;
    border-radius: 16px;
    height: 90px;
    width: 150px;

    align-items: center;

    transition: all 0.1s ease-in;

    cursor: pointer;
}

.taskItem:hover {
    border-radius: 16px;
    box-shadow: 0px 5px 5px 0px rgba(200, 200, 232, 0.6);
    background: #f8f8fc;
}
.taskItem:hover .itemName {
    color: #2926b9;
}
.taskItem:hover .itemCheckbox {
    border: 1px solid #2926b9;
}

.itemCheckbox {
    position: relative;
    border: 1px solid #bcbfd6;
    background-color: white;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 12px;

    top: 1px;
}

.itemCheckbox svg {
    position: absolute;
    left: -1px;
    top: -1px;
}

.itemName {
    margin-right: 25px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemNameBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemNameBoardText {
    align-self: flex-start;

    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemInfoBoard {
    align-self: flex-start;

    font-weight: 400;
    font-size: 13px;
    opacity: 0.7;

    width: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
