.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pageHeader {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;

    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}

.formSection {
    position: relative;

    margin-bottom: 30px;
}

.errorMessage {
    position: absolute;
    width: 400px;
    left: 3px;
    bottom: -17px;

    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #da4343;
}

.textfield {
    border-radius: 10px;
    padding: 7px;
    border: 1px #0f5699 solid;
}

.authBtn {
    position: relative;

    border-radius: 99px;
    padding: 0px 32px;
    height: 40px;
    background: #2d2acd;
    border: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 154%;
    text-align: center;
    color: white;

}
