.taskListSection {
    border-radius: 24px;
    padding: 20px 16px;
    background-color: white;
    box-shadow: 0 8px 12px 8px rgba(203, 203, 203, 0.25);
    flex: 0 0 60%;
}

@media screen and (max-width: 1200px) {
    .taskListSection {
        flex: 0 0 50%;
    }
}

.sectionTitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    text-transform: uppercase;
    color: #bcbfd6;

    margin-bottom: 16px;
}

.addTaskBtn {
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #1990ff;

    display: flex;
    align-items: center;

    margin-bottom: 16px;
}
.addTaskBtn span {
    position: relative;
    left: 0;
    top: -2px;

    font-size: 28px;
    font-weight: 200;
    text-align: center;
}

.taskList {
    padding: 0;
}

.taskListBoard {
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
